<div class="container">
    <header class="header">
      <h2>Lista de Clientes</h2>
      <nav class="navigation">
        <a class="nav-link active" href="/clients/list">Clientes</a>
        <a class="nav-link" href="/schedules/month">Agendar</a>
      </nav>
    </header>
  
    <section class="client-list">
      <button class="add-button" (click)="novoCliente()">Novo Cliente</button>
      <table class="clients-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>
              <button class="edit-button" (click)="editar(cliente.id!)">Editar</button>
              <button class="delete-button" (click)="deletar(cliente.id!)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>